.card {
  background-color: white;
  margin: 2rem auto 1rem;
  width: 70%;
  padding: 1rem;
  max-width: 50rem;
}

.inputTitle {
  display: block;
  margin: 0.5rem auto 0.5rem 1rem;
  font-weight: bold;
}

.card input {
  font: inherit;
  display: block;
  width: 40%;
  margin: 0 auto 0.5rem 1rem;
  border: 1px solid #ccc;
  padding: 0.15rem;
}

.card input:focus {
  background-color: rgb(232, 240, 254);
  outline: none;
  border: 2px solid #c0c0c0;
}

.button {
  margin-left: 1rem;
}

.form {
  margin-top: 2rem;
}
